body{ background-color: black;
font-family:'Times New Roman', Times, serif;
color: aliceblue;}
.center{text-align: center;
padding: 10px 10px;}
img{
    padding: 30px 5px;
     width: 300px;
    height: 300px;
}
.container{text-align: justify; padding: 10px 10px;}
